// screen
$tiny: 320px;
$sm: 575px;
$md: 767px;
$l: 900px;
$lg: 1023px;
$x: 1132px;
$xl: 1439px;

// colors
$blue: #042c8f;
$green: #98c99a;
$gray-light: #f3f3f3;

// fonts
$comfortaa-regular: "Comfortaa-Regular";
